.dropdown {
	position: relative;
}

.title {
	display: flex;
	align-items: center;
	@apply py-4;
	@apply mx-4;
	@apply font-bold;
}

.title:focus {
	outline: none;
}

.arrow {
	@apply ml-2;
	transition: transform 0.2s;
	transform: rotate(0deg);
}

.dropdown:hover .arrow {
	transform: rotate(180deg);
}

.wrapper {
	position: absolute;
	right: 0;
	display: flex;
	flex-direction: column;
	@apply p-2;
	@apply py-4;
	@apply border;
	@apply shadow-md;
	@apply rounded-xl;
	@apply origin-top-right;
	@apply bg-kmb-gray-800;
	@apply border-kmb-gray-700;
	@apply font-normal;
}

.wrapper {
	display: none;
}

.dropdown:hover .wrapper {
	display: flex;
	pointer-events: auto;
	animation: fade_in_show 0.2s ease-in-out both;
}

@keyframes fade_in_show {
	0% {
		opacity: 0;
		transform: scale(0.95)
	}

	100% {
		opacity: 1;
		transform: scale(1)
	}
}

.navLink {
	display: block;
	@apply py-1;
	@apply mx-4;
	@apply my-1;
	transition: border 0.2s ease-in-out, color 0s ease-in-out;
	border-bottom: 2px solid transparent;
}

.navLink:hover {
	border-bottom: 2px solid #EF4444;
}
