.content {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.content-lg {
	@apply px-6;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

@screen lg {
	.content {
		width: 80%;
	}
	.content-lg {
		width: 90%;
	}
}

.btn-secondary-gray {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-kmb-gray-700;
	@apply transform;
	@apply duration-200;
	border-color: transparent;
	border-width: 2px;
}

.btn-secondary-gray:hover {
	@apply -translate-y-px;
	@apply shadow;
	@apply border-kmb-gray-700;
}

.dark .btn-secondary-gray {
	@apply text-kmb-gray-200;
}

.dark .btn-secondary-gray:hover {
	@apply text-kmb-gray-700;
	border-color: transparent;
	border-width: 2px;
}

.btn-primary-gray {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-white;
	@apply transform;
	@apply duration-200;
	@apply bg-kmb-gray-700;
	@apply border-kmb-gray-700;
	border-width: 2px;
}

.btn-secondary {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-kmb-blue-500;
	@apply transform;
	@apply duration-200;
	border-color: transparent;
	border-width: 2px;
}

.btn-secondary:hover {
	@apply -translate-y-px;
	@apply shadow;
	@apply border-kmb-blue-500;
}

.btn-fill {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-kmb-blue-500;
	@apply transform;
	@apply duration-200;
	border-color: transparent;
	border-width: 2px;
	@apply border-kmb-blue-500;
}

.btn-fill:hover {
	@apply -translate-y-px;
	@apply shadow;
	@apply text-white;
	@apply bg-kmb-blue-500;
}

.btn-primary {
	@apply px-3;
	@apply py-2;
	@apply rounded-lg;
	@apply text-white;
	@apply transform;
	@apply duration-200;
	@apply bg-kmb-blue-500;
	@apply border-kmb-blue-500;
	border-width: 2px;
}

.btn-primary:hover, .btn-primary-gray:hover {
	@apply -translate-y-px;
	@apply shadow;
}

.input {
	@apply p-2;
	@apply border-b;
	@apply border-gray-400;
	@apply bg-transparent;
}

.input:focus {
	outline: none;
	@apply border-white;
	@apply text-white;
}

.t-p {
	font-size:  1rem;
}

.t-h1, .t-h2, .t-h3 {
	@apply leading-none;
	font-weight: bold;
}

.t-h1 {
	font-size: 2.5rem;
}

.t-h2 {
	font-size: 2rem;
}

.t-h3 {
	font-size: 1.33rem;
}
