.hero {
	position: relative;
	display: flex;
	align-items: center;
	width: 100%;
	@apply py-32;
	color: white;
	pointer-events: none;
}

.bg {
	position: absolute;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	z-index: -10;
	@apply bg-gradient-to-b;
	@apply from-blue-800;
	@apply to-transparent;
}

.title, .subtitle {
	pointer-events: auto;
}

.title {
	@apply mt-6;
	@apply text-4xl;
	@apply mb-4;
	@apply font-bold;
	@apply font-title;
}

@screen sm {
	.title {
		@apply text-6xl;
	}
}

.subtitle {
	@apply text-2xl;
	@apply font-light;
	@apply font-title;
}

@screen sm {
	.subtitle {
		@apply text-5xl;
	}
}
