.bg-wrapper {
	z-index: -10;
}

.bg, .bg-pre, .bg-post {
	width: 100%;
	position: absolute;
}

.bg {
	--gradient-color: rgba(77, 76, 76, 0.8);
	z-index: -10;
	background-position: center;
	height: 100%;
	background-image: linear-gradient(to bottom, var(--gradient-color), var(--gradient-color)), var(--hero-background, url("/images/bg.jpg"));
	opacity: 0.5;
}

.bg-pre, .bg-post {
	@apply h-32;
}

.bg-pre {
	@apply bg-gradient-to-b;
	@apply from-kmb-gray-900;
	@apply to-transparent;
}

.bg-post {
	bottom: 0;
	@apply bg-gradient-to-t;
	@apply from-kmb-gray-900;
	@apply to-transparent;
}
